<div class="product-card product-card--list" data-product-card>
  <a class="full-width-link" href="{{ variant.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }} - {{variant[product_option_key]}}</span>
  </a>
 
  <div class="list-view-item__link">
    <div class="list-view-item__image-column">
      <div class="list-view-item__image-wrapper product-card__image-wrapper">
        <img class="list-view-item__image" src="{{ variant.image.src | img_url: '95x95', scale: 2 }}" alt="{{ product.featured_image.alt }}">
      </div>
    </div>
 
    <div class="list-view-item__title-column">
      <div class="list-view-item__title" aria-hidden="true">
        <span class="product-card__title">{{ product.title }} - {{variant[product_option_key]}}</span>
      </div>
      {% if variant.compare_at_price > variant.price %}
        <div class="list-view-item__on-sale">{{ 'products.product.on_sale' | t }}</div>
      {% endif %}
      {% if section.settings.show_vendor %}
        <div class="list-view-item__vendor medium-up--hide">{{ product.vendor }}</div>
      {% endif %}
      {% unless variant.available %}
        <div class="list-view-item__sold-out">{{ 'products.product.sold_out' | t }}</div>
      {% endunless %}
    </div>
 
    <div class="list-view-item__price-column">
      {% if product.available %}
        {% include 'product-price', variant %}
      {% endif %}
    </div>
  </div>
</div>
